body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.selected{
	background: tomato;
}

.flex-container{
	display: flex;
	flex-flow: row wrap;
	background-color: white;
	border: 2px solid black;
	margin: 70px 100px;
	justify-content:center;
}

.flex-item {
	display: flex;
	flex-flow: row wrap;
	background: white;
	margin: 20px;
	background-color: white;
	border: 2px solid black;
	min-width: 50px;
	min-height: 30px;
}